.mt-1{margin-top: 1px;}.mt-2{margin-top: 2px;}.mt-3{margin-top: 3px;}.mt-4{margin-top: 4px;}.mt-5{margin-top: 5px;}.mt-6{margin-top: 6px;}.mt-7{margin-top: 7px;}.mt-8{margin-top: 8px;}.mt-9{margin-top: 9px;}.mt-10{margin-top: 10px;}.mt-11{margin-top: 11px;}.mt-12{margin-top: 12px;}.mt-13{margin-top: 13px;}.mt-14{margin-top: 14px;}.mt-15{margin-top: 15px;}.mt-16{margin-top: 16px;}.mt-17{margin-top: 17px;}.mt-18{margin-top: 18px;}.mt-19{margin-top: 19px;}.mt-20{margin-top: 20px;}.mt-21{margin-top: 21px;}.mt-22{margin-top: 22px;}.mt-23{margin-top: 23px;}.mt-24{margin-top: 24px;}.mt-25{margin-top: 25px;}.mt-26{margin-top: 26px;}.mt-27{margin-top: 27px;}.mt-28{margin-top: 28px;}.mt-29{margin-top: 29px;}.mt-30{margin-top: 30px;}.mt-31{margin-top: 31px;}.mt-32{margin-top: 32px;}.mt-33{margin-top: 33px;}.mt-34{margin-top: 34px;}.mt-35{margin-top: 35px;}.mt-36{margin-top: 36px;}.mt-37{margin-top: 37px;}.mt-38{margin-top: 38px;}.mt-39{margin-top: 39px;}.mt-40{margin-top: 40px;}.mt-41{margin-top: 41px;}.mt-42{margin-top: 42px;}.mt-43{margin-top: 43px;}.mt-44{margin-top: 44px;}.mt-45{margin-top: 45px;}.mt-46{margin-top: 46px;}.mt-47{margin-top: 47px;}.mt-48{margin-top: 48px;}.mt-49{margin-top: 49px;}.mt-50{margin-top: 50px;}.mt-51{margin-top: 51px;}.mt-52{margin-top: 52px;}.mt-53{margin-top: 53px;}.mt-54{margin-top: 54px;}.mt-55{margin-top: 55px;}.mt-56{margin-top: 56px;}.mt-57{margin-top: 57px;}.mt-58{margin-top: 58px;}.mt-59{margin-top: 59px;}.mt-60{margin-top: 60px;}.mt-61{margin-top: 61px;}.mt-62{margin-top: 62px;}.mt-63{margin-top: 63px;}.mt-64{margin-top: 64px;}.mt-65{margin-top: 65px;}.mt-66{margin-top: 66px;}.mt-67{margin-top: 67px;}.mt-68{margin-top: 68px;}.mt-69{margin-top: 69px;}.mt-70{margin-top: 70px;}.mt-71{margin-top: 71px;}.mt-72{margin-top: 72px;}.mt-73{margin-top: 73px;}.mt-74{margin-top: 74px;}.mt-75{margin-top: 75px;}.mt-76{margin-top: 76px;}.mt-77{margin-top: 77px;}.mt-78{margin-top: 78px;}.mt-79{margin-top: 79px;}.mt-80{margin-top: 80px;}.mt-81{margin-top: 81px;}.mt-82{margin-top: 82px;}.mt-83{margin-top: 83px;}.mt-84{margin-top: 84px;}.mt-85{margin-top: 85px;}.mt-86{margin-top: 86px;}.mt-87{margin-top: 87px;}.mt-88{margin-top: 88px;}.mt-89{margin-top: 89px;}.mt-90{margin-top: 90px;}.mt-91{margin-top: 91px;}.mt-92{margin-top: 92px;}.mt-93{margin-top: 93px;}.mt-94{margin-top: 94px;}.mt-95{margin-top: 95px;}.mt-96{margin-top: 96px;}.mt-97{margin-top: 97px;}.mt-98{margin-top: 98px;}.mt-99{margin-top: 99px;}.mt-100{margin-top: 100px;}.mt-101{margin-top: 101px;}.mt-102{margin-top: 102px;}.mt-103{margin-top: 103px;}.mt-104{margin-top: 104px;}.mt-105{margin-top: 105px;}.mt-106{margin-top: 106px;}.mt-107{margin-top: 107px;}.mt-108{margin-top: 108px;}.mt-109{margin-top: 109px;}.mt-110{margin-top: 110px;}.mt-111{margin-top: 111px;}.mt-112{margin-top: 112px;}.mt-113{margin-top: 113px;}.mt-114{margin-top: 114px;}.mt-115{margin-top: 115px;}.mt-116{margin-top: 116px;}.mt-117{margin-top: 117px;}.mt-118{margin-top: 118px;}.mt-119{margin-top: 119px;}.mt-120{margin-top: 120px;}.mt-121{margin-top: 121px;}.mt-122{margin-top: 122px;}.mt-123{margin-top: 123px;}.mt-124{margin-top: 124px;}.mt-125{margin-top: 125px;}.mt-126{margin-top: 126px;}.mt-127{margin-top: 127px;}.mt-128{margin-top: 128px;}.mt-129{margin-top: 129px;}.mt-130{margin-top: 130px;}.mt-131{margin-top: 131px;}.mt-132{margin-top: 132px;}.mt-133{margin-top: 133px;}.mt-134{margin-top: 134px;}.mt-135{margin-top: 135px;}.mt-136{margin-top: 136px;}.mt-137{margin-top: 137px;}.mt-138{margin-top: 138px;}.mt-139{margin-top: 139px;}.mt-140{margin-top: 140px;}.mt-141{margin-top: 141px;}.mt-142{margin-top: 142px;}.mt-143{margin-top: 143px;}.mt-144{margin-top: 144px;}.mt-145{margin-top: 145px;}.mt-146{margin-top: 146px;}.mt-147{margin-top: 147px;}.mt-148{margin-top: 148px;}.mt-149{margin-top: 149px;}.mt-150{margin-top: 150px;}.mt-151{margin-top: 151px;}.mt-152{margin-top: 152px;}.mt-153{margin-top: 153px;}.mt-154{margin-top: 154px;}.mt-155{margin-top: 155px;}.mt-156{margin-top: 156px;}.mt-157{margin-top: 157px;}.mt-158{margin-top: 158px;}.mt-159{margin-top: 159px;}.mt-160{margin-top: 160px;}.mt-161{margin-top: 161px;}.mt-162{margin-top: 162px;}.mt-163{margin-top: 163px;}.mt-164{margin-top: 164px;}.mt-165{margin-top: 165px;}.mt-166{margin-top: 166px;}.mt-167{margin-top: 167px;}.mt-168{margin-top: 168px;}.mt-169{margin-top: 169px;}.mt-170{margin-top: 170px;}.mt-171{margin-top: 171px;}.mt-172{margin-top: 172px;}.mt-173{margin-top: 173px;}.mt-174{margin-top: 174px;}.mt-175{margin-top: 175px;}.mt-176{margin-top: 176px;}.mt-177{margin-top: 177px;}.mt-178{margin-top: 178px;}.mt-179{margin-top: 179px;}.mt-180{margin-top: 180px;}.mt-181{margin-top: 181px;}.mt-182{margin-top: 182px;}.mt-183{margin-top: 183px;}.mt-184{margin-top: 184px;}.mt-185{margin-top: 185px;}.mt-186{margin-top: 186px;}.mt-187{margin-top: 187px;}.mt-188{margin-top: 188px;}.mt-189{margin-top: 189px;}.mt-190{margin-top: 190px;}.mt-191{margin-top: 191px;}.mt-192{margin-top: 192px;}.mt-193{margin-top: 193px;}.mt-194{margin-top: 194px;}.mt-195{margin-top: 195px;}.mt-196{margin-top: 196px;}.mt-197{margin-top: 197px;}.mt-198{margin-top: 198px;}.mt-199{margin-top: 199px;}.mt-200{margin-top: 200px;}.mt-201{margin-top: 201px;}.mt-202{margin-top: 202px;}.mt-203{margin-top: 203px;}.mt-204{margin-top: 204px;}.mt-205{margin-top: 205px;}.mt-206{margin-top: 206px;}.mt-207{margin-top: 207px;}.mt-208{margin-top: 208px;}.mt-209{margin-top: 209px;}.mt-210{margin-top: 210px;}.mt-211{margin-top: 211px;}.mt-212{margin-top: 212px;}.mt-213{margin-top: 213px;}.mt-214{margin-top: 214px;}.mt-215{margin-top: 215px;}.mt-216{margin-top: 216px;}.mt-217{margin-top: 217px;}.mt-218{margin-top: 218px;}.mt-219{margin-top: 219px;}.mt-220{margin-top: 220px;}.mt-221{margin-top: 221px;}.mt-222{margin-top: 222px;}.mt-223{margin-top: 223px;}.mt-224{margin-top: 224px;}.mt-225{margin-top: 225px;}.mt-226{margin-top: 226px;}.mt-227{margin-top: 227px;}.mt-228{margin-top: 228px;}.mt-229{margin-top: 229px;}.mt-230{margin-top: 230px;}.mt-231{margin-top: 231px;}.mt-232{margin-top: 232px;}.mt-233{margin-top: 233px;}.mt-234{margin-top: 234px;}.mt-235{margin-top: 235px;}.mt-236{margin-top: 236px;}.mt-237{margin-top: 237px;}.mt-238{margin-top: 238px;}.mt-239{margin-top: 239px;}.mt-240{margin-top: 240px;}.mt-241{margin-top: 241px;}.mt-242{margin-top: 242px;}.mt-243{margin-top: 243px;}.mt-244{margin-top: 244px;}.mt-245{margin-top: 245px;}.mt-246{margin-top: 246px;}.mt-247{margin-top: 247px;}.mt-248{margin-top: 248px;}.mt-249{margin-top: 249px;}.mt-250{margin-top: 250px;}.mt-251{margin-top: 251px;}.mt-252{margin-top: 252px;}.mt-253{margin-top: 253px;}.mt-254{margin-top: 254px;}.mt-255{margin-top: 255px;}.mt-256{margin-top: 256px;}.mt-257{margin-top: 257px;}.mt-258{margin-top: 258px;}.mt-259{margin-top: 259px;}.mt-260{margin-top: 260px;}.mt-261{margin-top: 261px;}.mt-262{margin-top: 262px;}.mt-263{margin-top: 263px;}.mt-264{margin-top: 264px;}.mt-265{margin-top: 265px;}.mt-266{margin-top: 266px;}.mt-267{margin-top: 267px;}.mt-268{margin-top: 268px;}.mt-269{margin-top: 269px;}.mt-270{margin-top: 270px;}.mt-271{margin-top: 271px;}.mt-272{margin-top: 272px;}.mt-273{margin-top: 273px;}.mt-274{margin-top: 274px;}.mt-275{margin-top: 275px;}.mt-276{margin-top: 276px;}.mt-277{margin-top: 277px;}.mt-278{margin-top: 278px;}.mt-279{margin-top: 279px;}.mt-280{margin-top: 280px;}.mt-281{margin-top: 281px;}.mt-282{margin-top: 282px;}.mt-283{margin-top: 283px;}.mt-284{margin-top: 284px;}.mt-285{margin-top: 285px;}.mt-286{margin-top: 286px;}.mt-287{margin-top: 287px;}.mt-288{margin-top: 288px;}.mt-289{margin-top: 289px;}.mt-290{margin-top: 290px;}.mt-291{margin-top: 291px;}.mt-292{margin-top: 292px;}.mt-293{margin-top: 293px;}.mt-294{margin-top: 294px;}.mt-295{margin-top: 295px;}.mt-296{margin-top: 296px;}.mt-297{margin-top: 297px;}.mt-298{margin-top: 298px;}.mt-299{margin-top: 299px;}.mt-300{margin-top: 300px;}.mt-301{margin-top: 301px;}.mt-302{margin-top: 302px;}.mt-303{margin-top: 303px;}.mt-304{margin-top: 304px;}.mt-305{margin-top: 305px;}.mt-306{margin-top: 306px;}.mt-307{margin-top: 307px;}.mt-308{margin-top: 308px;}.mt-309{margin-top: 309px;}.mt-310{margin-top: 310px;}.mt-311{margin-top: 311px;}.mt-312{margin-top: 312px;}.mt-313{margin-top: 313px;}.mt-314{margin-top: 314px;}.mt-315{margin-top: 315px;}.mt-316{margin-top: 316px;}.mt-317{margin-top: 317px;}.mt-318{margin-top: 318px;}.mt-319{margin-top: 319px;}.mt-320{margin-top: 320px;}.mt-321{margin-top: 321px;}.mt-322{margin-top: 322px;}.mt-323{margin-top: 323px;}.mt-324{margin-top: 324px;}.mt-325{margin-top: 325px;}.mt-326{margin-top: 326px;}.mt-327{margin-top: 327px;}.mt-328{margin-top: 328px;}.mt-329{margin-top: 329px;}.mt-330{margin-top: 330px;}.mt-331{margin-top: 331px;}.mt-332{margin-top: 332px;}.mt-333{margin-top: 333px;}.mt-334{margin-top: 334px;}.mt-335{margin-top: 335px;}.mt-336{margin-top: 336px;}.mt-337{margin-top: 337px;}.mt-338{margin-top: 338px;}.mt-339{margin-top: 339px;}.mt-340{margin-top: 340px;}.mt-341{margin-top: 341px;}.mt-342{margin-top: 342px;}.mt-343{margin-top: 343px;}.mt-344{margin-top: 344px;}.mt-345{margin-top: 345px;}.mt-346{margin-top: 346px;}.mt-347{margin-top: 347px;}.mt-348{margin-top: 348px;}.mt-349{margin-top: 349px;}.mt-350{margin-top: 350px;}.mt-351{margin-top: 351px;}.mt-352{margin-top: 352px;}.mt-353{margin-top: 353px;}.mt-354{margin-top: 354px;}.mt-355{margin-top: 355px;}.mt-356{margin-top: 356px;}.mt-357{margin-top: 357px;}.mt-358{margin-top: 358px;}.mt-359{margin-top: 359px;}.mt-360{margin-top: 360px;}.mt-361{margin-top: 361px;}.mt-362{margin-top: 362px;}.mt-363{margin-top: 363px;}.mt-364{margin-top: 364px;}.mt-365{margin-top: 365px;}.mt-366{margin-top: 366px;}.mt-367{margin-top: 367px;}.mt-368{margin-top: 368px;}.mt-369{margin-top: 369px;}.mt-370{margin-top: 370px;}.mt-371{margin-top: 371px;}.mt-372{margin-top: 372px;}.mt-373{margin-top: 373px;}.mt-374{margin-top: 374px;}.mt-375{margin-top: 375px;}.mt-376{margin-top: 376px;}.mt-377{margin-top: 377px;}.mt-378{margin-top: 378px;}.mt-379{margin-top: 379px;}.mt-380{margin-top: 380px;}.mt-381{margin-top: 381px;}.mt-382{margin-top: 382px;}.mt-383{margin-top: 383px;}.mt-384{margin-top: 384px;}.mt-385{margin-top: 385px;}.mt-386{margin-top: 386px;}.mt-387{margin-top: 387px;}.mt-388{margin-top: 388px;}.mt-389{margin-top: 389px;}.mt-390{margin-top: 390px;}.mt-391{margin-top: 391px;}.mt-392{margin-top: 392px;}.mt-393{margin-top: 393px;}.mt-394{margin-top: 394px;}.mt-395{margin-top: 395px;}.mt-396{margin-top: 396px;}.mt-397{margin-top: 397px;}.mt-398{margin-top: 398px;}.mt-399{margin-top: 399px;}.mt-400{margin-top: 400px;}
/**/
.pt-1{padding-top: 1px;}.pt-2{padding-top: 2px;}.pt-3{padding-top: 3px;}.pt-4{padding-top: 4px;}.pt-5{padding-top: 5px;}.pt-6{padding-top: 6px;}.pt-7{padding-top: 7px;}.pt-8{padding-top: 8px;}.pt-9{padding-top: 9px;}.pt-10{padding-top: 10px;}.pt-11{padding-top: 11px;}.pt-12{padding-top: 12px;}.pt-13{padding-top: 13px;}.pt-14{padding-top: 14px;}.pt-15{padding-top: 15px;}.pt-16{padding-top: 16px;}.pt-17{padding-top: 17px;}.pt-18{padding-top: 18px;}.pt-19{padding-top: 19px;}.pt-20{padding-top: 20px;}.pt-21{padding-top: 2.33vh;}.pt-22{padding-top: 22px;}.pt-23{padding-top: 23px;}.pt-24{padding-top: 24px;}.pt-25{padding-top: 25px;}.pt-26{padding-top: 26px;}.pt-27{padding-top: 27px;}.pt-28{padding-top: 28px;}.pt-29{padding-top: 29px;}.pt-30{padding-top: 30px;}.pt-31{padding-top: 31px;}.pt-32{padding-top: 32px;}.pt-33{padding-top: 33px;}.pt-34{padding-top: 34px;}.pt-35{padding-top: 35px;}.pt-36{padding-top: 36px;}.pt-37{padding-top: 37px;}.pt-38{padding-top: 38px;}.pt-39{padding-top: 39px;}.pt-40{padding-top: 40px;}.pt-41{padding-top: 41px;}.pt-42{padding-top: 42px;}.pt-43{padding-top: 43px;}.pt-44{padding-top: 44px;}.pt-45{padding-top: 45px;}.pt-46{padding-top: 46px;}.pt-47{padding-top: 47px;}.pt-48{padding-top: 48px;}.pt-49{padding-top: 49px;}.pt-50{padding-top: 50px;}.pt-51{padding-top: 51px;}.pt-52{padding-top: 52px;}.pt-53{padding-top: 53px;}.pt-54{padding-top: 54px;}.pt-55{padding-top: 55px;}.pt-56{padding-top: 56px;}.pt-57{padding-top: 57px;}.pt-58{padding-top: 58px;}.pt-59{padding-top: 59px;}.pt-60{padding-top: 60px;}.pt-61{padding-top: 61px;}.pt-62{padding-top: 62px;}.pt-63{padding-top: 63px;}.pt-64{padding-top: 64px;}.pt-65{padding-top: 65px;}.pt-66{padding-top: 66px;}.pt-67{padding-top: 67px;}.pt-68{padding-top: 68px;}.pt-69{padding-top: 69px;}.pt-70{padding-top: 70px;}.pt-71{padding-top: 71px;}.pt-72{padding-top: 72px;}.pt-73{padding-top: 73px;}.pt-74{padding-top: 74px;}.pt-75{padding-top: 75px;}.pt-76{padding-top: 76px;}.pt-77{padding-top: 77px;}.pt-78{padding-top: 78px;}.pt-79{padding-top: 79px;}.pt-80{padding-top: 80px;}.pt-81{padding-top: 81px;}.pt-82{padding-top: 82px;}.pt-83{padding-top: 83px;}.pt-84{padding-top: 84px;}.pt-85{padding-top: 85px;}.pt-86{padding-top: 86px;}.pt-87{padding-top: 87px;}.pt-88{padding-top: 88px;}.pt-89{padding-top: 89px;}.pt-90{padding-top: 90px;}.pt-91{padding-top: 91px;}.pt-92{padding-top: 92px;}.pt-93{padding-top: 93px;}.pt-94{padding-top: 94px;}.pt-95{padding-top: 95px;}.pt-96{padding-top: 96px;}.pt-97{padding-top: 97px;}.pt-98{padding-top: 98px;}.pt-99{padding-top: 99px;}.pt-100{padding-top: 100px;}.pt-101{padding-top: 101px;}.pt-102{padding-top: 102px;}.pt-103{padding-top: 103px;}.pt-104{padding-top: 104px;}.pt-105{padding-top: 105px;}.pt-106{padding-top: 106px;}.pt-107{padding-top: 107px;}.pt-108{padding-top: 108px;}.pt-109{padding-top: 109px;}.pt-110{padding-top: 110px;}.pt-111{padding-top: 111px;}.pt-112{padding-top: 112px;}.pt-113{padding-top: 113px;}.pt-114{padding-top: 114px;}.pt-115{padding-top: 115px;}.pt-116{padding-top: 116px;}.pt-117{padding-top: 117px;}.pt-118{padding-top: 118px;}.pt-119{padding-top: 119px;}.pt-120{padding-top: 120px;}.pt-121{padding-top: 121px;}.pt-122{padding-top: 122px;}.pt-123{padding-top: 123px;}.pt-124{padding-top: 124px;}.pt-125{padding-top: 125px;}.pt-126{padding-top: 126px;}.pt-127{padding-top: 127px;}.pt-128{padding-top: 128px;}.pt-129{padding-top: 129px;}.pt-130{padding-top: 130px;}.pt-131{padding-top: 131px;}.pt-132{padding-top: 132px;}.pt-133{padding-top: 133px;}.pt-134{padding-top: 134px;}.pt-135{padding-top: 135px;}.pt-136{padding-top: 136px;}.pt-137{padding-top: 137px;}.pt-138{padding-top: 138px;}.pt-139{padding-top: 139px;}.pt-140{padding-top: 140px;}.pt-141{padding-top: 141px;}.pt-142{padding-top: 142px;}.pt-143{padding-top: 143px;}.pt-144{padding-top: 144px;}.pt-145{padding-top: 145px;}.pt-146{padding-top: 146px;}.pt-147{padding-top: 147px;}.pt-148{padding-top: 148px;}.pt-149{padding-top: 149px;}.pt-150{padding-top: 150px;}.pt-151{padding-top: 151px;}.pt-152{padding-top: 152px;}.pt-153{padding-top: 153px;}.pt-154{padding-top: 154px;}.pt-155{padding-top: 155px;}.pt-156{padding-top: 156px;}.pt-157{padding-top: 157px;}.pt-158{padding-top: 158px;}.pt-159{padding-top: 159px;}.pt-160{padding-top: 160px;}.pt-161{padding-top: 161px;}.pt-162{padding-top: 162px;}.pt-163{padding-top: 163px;}.pt-164{padding-top: 164px;}.pt-165{padding-top: 165px;}.pt-166{padding-top: 166px;}.pt-167{padding-top: 167px;}.pt-168{padding-top: 168px;}.pt-169{padding-top: 169px;}.pt-170{padding-top: 170px;}.pt-171{padding-top: 171px;}.pt-172{padding-top: 172px;}.pt-173{padding-top: 173px;}.pt-174{padding-top: 174px;}.pt-175{padding-top: 175px;}.pt-176{padding-top: 176px;}.pt-177{padding-top: 177px;}.pt-178{padding-top: 178px;}.pt-179{padding-top: 179px;}.pt-180{padding-top: 180px;}.pt-181{padding-top: 181px;}.pt-182{padding-top: 182px;}.pt-183{padding-top: 183px;}.pt-184{padding-top: 184px;}.pt-185{padding-top: 185px;}.pt-186{padding-top: 186px;}.pt-187{padding-top: 187px;}.pt-188{padding-top: 188px;}.pt-189{padding-top: 189px;}.pt-190{padding-top: 190px;}.pt-191{padding-top: 191px;}.pt-192{padding-top: 192px;}.pt-193{padding-top: 193px;}.pt-194{padding-top: 194px;}.pt-195{padding-top: 195px;}.pt-196{padding-top: 196px;}.pt-197{padding-top: 197px;}.pt-198{padding-top: 198px;}.pt-199{padding-top: 199px;}.pt-200{padding-top: 200px;}.pt-201{padding-top: 201px;}.pt-202{padding-top: 202px;}.pt-203{padding-top: 203px;}.pt-204{padding-top: 204px;}.pt-205{padding-top: 205px;}.pt-206{padding-top: 206px;}.pt-207{padding-top: 207px;}.pt-208{padding-top: 208px;}.pt-209{padding-top: 209px;}.pt-210{padding-top: 210px;}.pt-211{padding-top: 211px;}.pt-212{padding-top: 212px;}.pt-213{padding-top: 213px;}.pt-214{padding-top: 214px;}.pt-215{padding-top: 215px;}.pt-216{padding-top: 216px;}.pt-217{padding-top: 217px;}.pt-218{padding-top: 218px;}.pt-219{padding-top: 219px;}.pt-220{padding-top: 220px;}.pt-221{padding-top: 221px;}.pt-222{padding-top: 222px;}.pt-223{padding-top: 223px;}.pt-224{padding-top: 224px;}.pt-225{padding-top: 225px;}.pt-226{padding-top: 226px;}.pt-227{padding-top: 227px;}.pt-228{padding-top: 228px;}.pt-229{padding-top: 229px;}.pt-230{padding-top: 230px;}.pt-231{padding-top: 231px;}.pt-232{padding-top: 232px;}.pt-233{padding-top: 233px;}.pt-234{padding-top: 234px;}.pt-235{padding-top: 235px;}.pt-236{padding-top: 236px;}.pt-237{padding-top: 237px;}.pt-238{padding-top: 238px;}.pt-239{padding-top: 239px;}.pt-240{padding-top: 240px;}.pt-241{padding-top: 241px;}.pt-242{padding-top: 242px;}.pt-243{padding-top: 243px;}.pt-244{padding-top: 244px;}.pt-245{padding-top: 245px;}.pt-246{padding-top: 246px;}.pt-247{padding-top: 247px;}.pt-248{padding-top: 248px;}.pt-249{padding-top: 249px;}.pt-250{padding-top: 250px;}.pt-251{padding-top: 251px;}.pt-252{padding-top: 252px;}.pt-253{padding-top: 253px;}.pt-254{padding-top: 254px;}.pt-255{padding-top: 255px;}.pt-256{padding-top: 256px;}.pt-257{padding-top: 257px;}.pt-258{padding-top: 258px;}.pt-259{padding-top: 259px;}.pt-260{padding-top: 260px;}.pt-261{padding-top: 261px;}.pt-262{padding-top: 262px;}.pt-263{padding-top: 263px;}.pt-264{padding-top: 264px;}.pt-265{padding-top: 265px;}.pt-266{padding-top: 266px;}.pt-267{padding-top: 267px;}.pt-268{padding-top: 268px;}.pt-269{padding-top: 269px;}.pt-270{padding-top: 270px;}.pt-271{padding-top: 271px;}.pt-272{padding-top: 272px;}.pt-273{padding-top: 273px;}.pt-274{padding-top: 274px;}.pt-275{padding-top: 275px;}.pt-276{padding-top: 276px;}.pt-277{padding-top: 277px;}.pt-278{padding-top: 278px;}.pt-279{padding-top: 279px;}.pt-280{padding-top: 280px;}.pt-281{padding-top: 281px;}.pt-282{padding-top: 282px;}.pt-283{padding-top: 283px;}.pt-284{padding-top: 284px;}.pt-285{padding-top: 285px;}.pt-286{padding-top: 286px;}.pt-287{padding-top: 287px;}.pt-288{padding-top: 288px;}.pt-289{padding-top: 289px;}.pt-290{padding-top: 290px;}.pt-291{padding-top: 291px;}.pt-292{padding-top: 292px;}.pt-293{padding-top: 293px;}.pt-294{padding-top: 294px;}.pt-295{padding-top: 295px;}.pt-296{padding-top: 296px;}.pt-297{padding-top: 297px;}.pt-298{padding-top: 298px;}.pt-299{padding-top: 299px;}.pt-300{padding-top: 300px;}.pt-301{padding-top: 301px;}.pt-302{padding-top: 302px;}.pt-303{padding-top: 303px;}.pt-304{padding-top: 304px;}.pt-305{padding-top: 305px;}.pt-306{padding-top: 306px;}.pt-307{padding-top: 307px;}.pt-308{padding-top: 308px;}.pt-309{padding-top: 309px;}.pt-310{padding-top: 310px;}.pt-311{padding-top: 311px;}.pt-312{padding-top: 312px;}.pt-313{padding-top: 313px;}.pt-314{padding-top: 314px;}.pt-315{padding-top: 315px;}.pt-316{padding-top: 316px;}.pt-317{padding-top: 317px;}.pt-318{padding-top: 318px;}.pt-319{padding-top: 319px;}.pt-320{padding-top: 320px;}.pt-321{padding-top: 321px;}.pt-322{padding-top: 322px;}.pt-323{padding-top: 323px;}.pt-324{padding-top: 324px;}.pt-325{padding-top: 325px;}.pt-326{padding-top: 326px;}.pt-327{padding-top: 327px;}.pt-328{padding-top: 328px;}.pt-329{padding-top: 329px;}.pt-330{padding-top: 330px;}.pt-331{padding-top: 331px;}.pt-332{padding-top: 332px;}.pt-333{padding-top: 333px;}.pt-334{padding-top: 334px;}.pt-335{padding-top: 335px;}.pt-336{padding-top: 336px;}.pt-337{padding-top: 337px;}.pt-338{padding-top: 338px;}.pt-339{padding-top: 339px;}.pt-340{padding-top: 340px;}.pt-341{padding-top: 341px;}.pt-342{padding-top: 342px;}.pt-343{padding-top: 343px;}.pt-344{padding-top: 344px;}.pt-345{padding-top: 345px;}.pt-346{padding-top: 346px;}.pt-347{padding-top: 347px;}.pt-348{padding-top: 348px;}.pt-349{padding-top: 349px;}.pt-350{padding-top: 350px;}.pt-351{padding-top: 351px;}.pt-352{padding-top: 352px;}.pt-353{padding-top: 353px;}.pt-354{padding-top: 354px;}.pt-355{padding-top: 355px;}.pt-356{padding-top: 356px;}.pt-357{padding-top: 357px;}.pt-358{padding-top: 358px;}.pt-359{padding-top: 359px;}.pt-360{padding-top: 360px;}.pt-361{padding-top: 361px;}.pt-362{padding-top: 362px;}.pt-363{padding-top: 363px;}.pt-364{padding-top: 364px;}.pt-365{padding-top: 365px;}.pt-366{padding-top: 366px;}.pt-367{padding-top: 367px;}.pt-368{padding-top: 368px;}.pt-369{padding-top: 369px;}.pt-370{padding-top: 370px;}.pt-371{padding-top: 371px;}.pt-372{padding-top: 372px;}.pt-373{padding-top: 373px;}.pt-374{padding-top: 374px;}.pt-375{padding-top: 375px;}.pt-376{padding-top: 376px;}.pt-377{padding-top: 377px;}.pt-378{padding-top: 378px;}.pt-379{padding-top: 379px;}.pt-380{padding-top: 380px;}.pt-381{padding-top: 381px;}.pt-382{padding-top: 382px;}.pt-383{padding-top: 383px;}.pt-384{padding-top: 384px;}.pt-385{padding-top: 385px;}.pt-386{padding-top: 386px;}.pt-387{padding-top: 387px;}.pt-388{padding-top: 388px;}.pt-389{padding-top: 389px;}.pt-390{padding-top: 390px;}.pt-391{padding-top: 391px;}.pt-392{padding-top: 392px;}.pt-393{padding-top: 393px;}.pt-394{padding-top: 394px;}.pt-395{padding-top: 395px;}.pt-396{padding-top: 396px;}.pt-397{padding-top: 397px;}.pt-398{padding-top: 398px;}.pt-399{padding-top: 399px;}.pt-400{padding-top: 400px;}
.slick-slide,.slick-slide:focus,.slick-slide:active,select:focus,input:focus,textarea:focus,button:focus{outline: none;}
._clear{clear: both;}
ul{list-style: none;margin: 0; padding: 0;}
.w-90{width: 90%;}
.opcity-05{opacity: 0.5;}
/**/
.pb-10{padding-bottom: 10px !important;}
.pb-50{padding-bottom: 50px;}
.pb-100{padding-bottom: 100px;}
.pb-150{padding-bottom: 150px;}
/**/
.pl-15{padding-left: 15px;}
i:before {line-height: inherit !important;}
i:after{line-height: inherit !important;}
._vHolder {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
}
._vHolder video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}
.v-algin{
   margin: 0;
   position: absolute;
   top: 50%;
   transform: translate(0, -50%);
   -webkit-transform: translate(0, -50%);
}
.h-algin{
   margin: 0;
   position: absolute;
   left: 50%;
   transform: translate(-50%,0);
   -webkit-transform: translate(-50%,0);
}
.vh-align{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
      color:var(--white);
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
      color: var(--white);
}

::-ms-input-placeholder { /* Microsoft Edge */
     color: var(--white);
}

.s-form input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
      color:#000;
}

.s-form input:-ms-input-placeholder { /* Internet Explorer 10-11 */
      color:#000;
}

.s-form input::-ms-input-placeholder { /* Microsoft Edge */
     color:#000;
}
.newsletter-form  input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgb(255 255 255 / 80%);
}

.newsletter-form input::-ms-input-placeholder { /* Internet Explorer 10-11 */
  color:rgb(255 255 255 / 80%);
}

.newsletter-form input::-ms-input-placeholder { /* Microsoft Edge */
  color: rgb(255 255 255 / 80%);
}

.width-fit-content{
	width: fit-content;
}
/*slick*/
.slick-slider.gutter-20 .slick-list {margin: 0 -20px;}
.slick-slider.gutter-20 .slick-slide {margin: 0 20px;}

.slick-slider.gutter-10 .slick-list {margin: 0 -10px;}
.slick-slider.gutter-10 .slick-slide {margin: 0 10px;}

.slick-slider.gutter-5 .slick-list {margin: 0 -5px;}
.slick-slider.gutter-5 .slick-slide {margin: 0 5px;}
/*Equal slick slide*/

.equal-slick .slick-track{display: flex !important;}
.equal-slick .slick-slide{height: inherit !important;}
@media(min-width: 1300px){
	.row.gutter-10{margin-left:-5px;margin-right: -5px;}
	.row.gutter-10> [class*="col-"] {padding-right: 5px;padding-left: 5px;}
	/**/
	.row.gutter-20{margin-left:-10px;margin-right: -10px;}
	.row.gutter-20> [class*="col-"] {padding-right: 10px;padding-left: 10px;}
	/**************************/
	.row.gutter-40{margin-left:-20px;margin-right: -20px;}
	.row.gutter-40> [class*="col-"],.row.gutter-40>.col {padding-right: 20px;padding-left: 20px;}
	/**************************/
	.row.gutter-50{margin-left:-25px;margin-right: -25px;}
	.row.gutter-50> [class*="col-"] {padding-right: 25px;padding-left: 25px;}
	/**************************/
	.row.gutter-80{margin-left:-40px;margin-right: -40px;}
	.row.gutter-80> [class*="col-"] {padding-right: 40px;padding-left: 40px;}
	/**************************/
	.row.gutter-90{margin-left:-45px;margin-right: -45px;}
	.row.gutter-90> [class*="col-"] {padding-right: 45px;padding-left: 45px;}
}
._z-10{z-index: 10;}

form.mailpoet_form{padding: 0 !important;}
.data-image {
    background-position: 50% 0 !important;
    -webkit-background-size: cover !important;
    -moz-background-size: cover !important;
    -o-background-size: cover !important;
    background-size: cover !important;
    background-repeat: no-repeat;
}
._oh{
	overflow: hidden;
}
.bg-fixed{
	background-attachment: fixed;
}
/**/
.slick-dots {
    position: absolute;
    bottom: -10px;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
}
.white-dots .slick-dots{bottom: 20px;}
.slick-dots li {
    position: relative;
    display: inline-block;
    margin: 0 5px;
   	cursor: pointer;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
}

.slick-dots li button {
    font-size: 0;
    line-height: 0;
    display: block;
    width: 8px;
    height: 8px;
    padding: 0px;
    cursor: pointer;
    color: transparent;
    border: 0px solid transparent;
    outline: none;
    background-color: rgb(77 77 77 / 25%) !important;
    color: #4d4d4d !important;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
   	position: relative;
}
.white-dots .slick-dots li button{
	background-color: #fff;
}
.slick-dots li.slick-active button{
   border: 2px solid #dd0606;
   padding: 3px;
   border-radius: 50%;
   background-color: transparent !important;
}
.white-dots .slick-dots li.slick-active{
	border-color:#fff;
}

/*::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background: #443d3b;
  border-radius: 10px;
  -webkit-border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #15fec8;
  border-radius: 10px;
  -webkit-border-radius: 10px;
}*/
 
.object-fit{
	object-fit: cover;
	object-position: center;
}
.align-center{
	align-items: center;
}
.no-shahdow{box-shadow: none !important;}
.fa-tiktok {
    content: "";
    width: 18px;
    height: 18px;
    background-image: url(../images/tiktok1.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.rotating {
  -webkit-animation: rotating 11s linear infinite;
  -moz-animation: rotating 11s linear infinite;
  -ms-animation: rotating 11s linear infinite;
  -o-animation: rotating 11s linear infinite;
  animation: rotating 11s linear infinite;
}
@-webkit-keyframes rotating /* Safari and Chrome */ {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.transform-scale{
  -webkit-animation: opacity-animation 2s linear infinite;
  -moz-animation: opacity-animation 2s linear infinite;
  -ms-animation: opacity-animation 2s linear infinite;
  -o-animation: opacity-animation 2s linear infinite;
  animation: opacity-animation 2s linear infinite;
}
@keyframes opacity-animation {
  from {
    transform: scale(1);

  }
  to {
    transform: scale(1.1);
    
  }
}
.mb--50{margin-bottom: -50px;}
.align-vertical{
	display: flex;
	align-items: center;
}
.form-group{margin-bottom: 30px;}
.navbar-brand{margin: 0;padding: 0;}
.navbar-toggler:focus {box-shadow: none;}

.f-12{
    font-size: 12px ;
    line-height: 14px;
}
.f-13{
    font-size: 13px ;
    line-height: 17px;
}
.f-14{
    font-size: 14px ;
    line-height: 17px;
}
.f-15{
    font-size: 15px
    line-height: 17px;
}
.f-16{
    font-size: 16px;
    line-height: 18px;
}
.f-17{
    font-size: 17px;
    line-height: 22px;
}
.f-18{
    font-size: 18px;
    line-height: 32px;
}
.f-20{
    font-size: 20px;
    line-height: 30px;
}
.f-24{
    font-size: 24px;
    line-height: 30px;
}
.f-30{
    font-size: 30px;
    line-height: 35px;
}
.f-52{
    font-size: 52px;
    line-height: 62px;
}
.f-50{
    font-size: 50px;
    line-height: 60px;
}
.f-60{
    font-size: 60px;
    line-height: 80px;
}
.f-80{
    font-size: 80px;
    line-height: 90px;
}
.f-100{
    font-size: 100px;
    line-height: 110px;
}
.f-110{
    font-size: 110px;
    line-height: normal;
}
.text-lowercase{text-transform: lowercase;}
  
/*animation: stickyMenuAnimation 0.7s;*/
@keyframes stickyMenuAnimation {
    from {
        top: -200px;
    }
    to {
       top: 0px;
    }
}
.force-full-width-section{
	width: 100vw;
    max-width: 100vw;
    margin-left: calc(50% - 50vw);
}
.rotate-180{
	transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
}